@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&family=Special+Elite&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Special Elite', cursive; */

:root {
  --light-color: #f7f7f7;
  --dark-color: #070707;
  --primary-color: #fddb1c;
  --secondary-color: #adb27a;
  --drab-color: #453c0d;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.4;
  color: var(--light-color);
}

a {
  color: var(--light-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Big Shoulders Display', cursive;
  margin-bottom: .8rem;
  line-height: 1.3;
  text-transform: uppercase;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 3rem;
}

.l-heading {
  font-size: 6rem;
}

/* Header */
header {
  background: var(--dark-color);
  position: relative;
}

header::before {
  content: '';
  background: url('../img/hero-img.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}

header .header-container {
  height: 75vh;
}

.header-container .navbar-container,
.header-container .hero-container {
  z-index: 2;
}